<nav class="main-nav">
  <div class="logo">📄| MTA</div>

  <ul class="links">
    <li><a href="#">Home</a></li>

    <!-- Dropdown menu -->
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">Folders ▼</a>
      <div class="dropdown-content">
        <a routerLink="folders">All Folders</a>
        <a routerLink="folder">My Folder</a>
      </div>
    </li>


    <li><a href="#">About</a></li>
    @if (isAdmin) {
      <li><a routerLink="/admin/all/user">All Users</a></li>
    }
    <li><a href="#contact">Contact</a></li>
    <li><a routerLink="/profile">Profile</a></li>
  </ul>

  <!-- If not logged in -->
  <div class="register" *ngIf="!isLogin">
    <a routerLink="/login">Login</a>
    <a routerLink="/register">Register</a>
  </div>

  <!-- If logged in -->
  <div class="register" *ngIf="isLogin">
    <a>{{ username }}</a>
    <a class="logout-btn" (click)="logout()">Logout</a>
  </div>
</nav>
